openapi: 3.0.3
info:
  contact:
    email: support@elev8er.ai
    name: elev8er API Support
  description: |
    Team-scoped public API for elev8er. Authenticate every request with an API key issued per team (`X-API-Key` header). Keys are created and managed from the elev8er panel (Team › API Keys). This API is intended for **server-to-server** use — never expose your API key in a browser or mobile client.

    **Rate limiting:** every response includes `X-RateLimit-Limit`, `X-RateLimit-Remaining` and `X-RateLimit-Reset` headers. When the limit is exceeded the API returns `429 Too Many Requests`.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: elev8er Public API
  version: 1.0.0
servers:
- description: Development
  url: https://apidev.elev8er.ai/public/api/v1
- description: Production
  url: https://api.elev8er.ai/public/api/v1
security:
- ApiKeyAuth: []
tags:
- description: Program management (full CRUD).
  name: Programs
- description: Test management (full CRUD).
  name: Tests
- description: Visual test management (full CRUD).
  name: Visual Tests
- description: Blog management (full CRUD).
  name: Blogs
- description: "Experts, their availability and sessions (full CRUD)."
  name: Experts
- description: Read agents and chat with them (chat only — no create/train).
  name: Agents
paths:
  /programs:
    get:
      operationId: listPrograms
      parameters:
      - description: 1-based page number.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Items per page (max 100).
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Free-text search filter.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listPrograms_200_response'
          description: A page of programs.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: API key is valid but not authorised for this resource (scope).
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: List programs
      tags:
      - Programs
      x-accepts:
      - application/json
    post:
      operationId: createProgram
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProgramInput'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: A single program.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Request payload failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: API key is valid but not authorised for this resource (scope).
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: Create a program
      tags:
      - Programs
      x-content-type: application/json
      x-accepts:
      - application/json
  /programs/{id}:
    delete:
      operationId: deleteProgram
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Deleted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: API key is valid but not authorised for this resource (scope).
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: Delete a program
      tags:
      - Programs
      x-accepts:
      - application/json
    get:
      operationId: getProgram
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: A single program.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: API key is valid but not authorised for this resource (scope).
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: Get a program by id
      tags:
      - Programs
      x-accepts:
      - application/json
    put:
      operationId: updateProgram
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProgramInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: A single program.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Request payload failed validation.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: API key is valid but not authorised for this resource (scope).
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: Update a program
      tags:
      - Programs
      x-content-type: application/json
      x-accepts:
      - application/json
  /programs/{id}/versions:
    get:
      operationId: listProgramVersions
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: List versions of a program
      tags:
      - Programs
      x-accepts:
      - application/json
    post:
      operationId: createProgramVersion
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Create a new version of a program
      tags:
      - Programs
      x-content-type: application/json
      x-accepts:
      - application/json
  /programs/{id}/versions/{versionId}:
    get:
      operationId: getProgramVersion
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: versionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Get a specific program version
      tags:
      - Programs
      x-accepts:
      - application/json
    put:
      operationId: updateProgramVersion
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: versionId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Update a specific program version
      tags:
      - Programs
      x-content-type: application/json
      x-accepts:
      - application/json
  /programs/{id}/versions/{versionId}/rollback:
    post:
      operationId: rollbackProgramVersion
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: versionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Roll a program back to a specific version
      tags:
      - Programs
      x-accepts:
      - application/json
  /programs/tags:
    get:
      operationId: listProgramTags
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
      summary: List program tags
      tags:
      - Programs
      x-accepts:
      - application/json
    post:
      operationId: createProgramTag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createProgramTag_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Request payload failed validation.
      summary: Create a program tag
      tags:
      - Programs
      x-content-type: application/json
      x-accepts:
      - application/json
  /programs/tags/{tagId}:
    delete:
      operationId: deleteProgramTag
      parameters:
      - explode: false
        in: path
        name: tagId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Deleted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Delete a program tag
      tags:
      - Programs
      x-accepts:
      - application/json
    put:
      operationId: updateProgramTag
      parameters:
      - explode: false
        in: path
        name: tagId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateProgramTag_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Update a program tag
      tags:
      - Programs
      x-content-type: application/json
      x-accepts:
      - application/json
  /programs/{id}/tags:
    get:
      operationId: getProgramTags
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Get tags assigned to a program
      tags:
      - Programs
      x-accepts:
      - application/json
    put:
      operationId: setProgramTags
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/setProgramTags_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Replace the tags assigned to a program
      tags:
      - Programs
      x-content-type: application/json
      x-accepts:
      - application/json
  /tests:
    get:
      operationId: listTests
      parameters:
      - description: 1-based page number.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Items per page (max 100).
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Free-text search filter.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Missing or invalid API key.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: List tests
      tags:
      - Tests
      x-accepts:
      - application/json
    post:
      operationId: createTest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestInput'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Request payload failed validation.
      summary: Create a test
      tags:
      - Tests
      x-content-type: application/json
      x-accepts:
      - application/json
  /tests/{id}:
    delete:
      operationId: deleteTest
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Deleted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Delete a test
      tags:
      - Tests
      x-accepts:
      - application/json
    get:
      operationId: getTest
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Get a test by id
      tags:
      - Tests
      x-accepts:
      - application/json
    put:
      operationId: updateTest
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Update a test
      tags:
      - Tests
      x-content-type: application/json
      x-accepts:
      - application/json
  /tests/{id}/versions:
    get:
      operationId: listTestVersions
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: List versions of a test
      tags:
      - Tests
      x-accepts:
      - application/json
    post:
      operationId: createTestVersion
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: Create a new version of a test
      tags:
      - Tests
      x-content-type: application/json
      x-accepts:
      - application/json
  /tests/{id}/versions/{versionId}:
    get:
      operationId: getTestVersion
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: versionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Get a specific test version
      tags:
      - Tests
      x-accepts:
      - application/json
    put:
      operationId: updateTestVersion
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: versionId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: Update a specific test version
      tags:
      - Tests
      x-content-type: application/json
      x-accepts:
      - application/json
  /tests/{id}/versions/{versionId}/rollback:
    post:
      operationId: rollbackTestVersion
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: versionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: Roll a test back to a specific version
      tags:
      - Tests
      x-accepts:
      - application/json
  /visual-tests:
    get:
      operationId: listVisualTests
      parameters:
      - description: 1-based page number.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Items per page (max 100).
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Free-text search filter.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: List visual tests
      tags:
      - Visual Tests
      x-accepts:
      - application/json
    post:
      operationId: createVisualTest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisualTestInput'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Request payload failed validation.
      summary: Create a visual test
      tags:
      - Visual Tests
      x-content-type: application/json
      x-accepts:
      - application/json
  /visual-tests/{id}:
    delete:
      operationId: deleteVisualTest
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Deleted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Delete a visual test
      tags:
      - Visual Tests
      x-accepts:
      - application/json
    get:
      operationId: getVisualTest
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Get a visual test by id
      tags:
      - Visual Tests
      x-accepts:
      - application/json
    put:
      operationId: updateVisualTest
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisualTestInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Update a visual test
      tags:
      - Visual Tests
      x-content-type: application/json
      x-accepts:
      - application/json
  /visual-tests/{id}/versions:
    get:
      operationId: listVisualTestVersions
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: List versions of a visual test
      tags:
      - Visual Tests
      x-accepts:
      - application/json
    post:
      operationId: createVisualTestVersion
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: Create a new version of a visual test
      tags:
      - Visual Tests
      x-content-type: application/json
      x-accepts:
      - application/json
  /visual-tests/{id}/versions/{versionId}:
    get:
      operationId: getVisualTestVersion
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: versionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Get a specific visual test version
      tags:
      - Visual Tests
      x-accepts:
      - application/json
    put:
      operationId: updateVisualTestVersion
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: versionId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: Update a specific visual test version
      tags:
      - Visual Tests
      x-content-type: application/json
      x-accepts:
      - application/json
  /visual-tests/{id}/versions/{versionId}/rollback:
    post:
      operationId: rollbackVisualTestVersion
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: versionId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: Roll a visual test back to a specific version
      tags:
      - Visual Tests
      x-accepts:
      - application/json
  /blogs:
    get:
      operationId: listBlogs
      parameters:
      - description: 1-based page number.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Items per page (max 100).
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Free-text search filter.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: List blogs
      tags:
      - Blogs
      x-accepts:
      - application/json
    post:
      operationId: createBlog
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlogInput'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Request payload failed validation.
      summary: Create a blog
      tags:
      - Blogs
      x-content-type: application/json
      x-accepts:
      - application/json
  /blogs/{id}:
    delete:
      operationId: deleteBlog
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Deleted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Delete a blog
      tags:
      - Blogs
      x-accepts:
      - application/json
    get:
      operationId: getBlog
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Get a blog by id
      tags:
      - Blogs
      x-accepts:
      - application/json
    put:
      operationId: updateBlog
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlogInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Update a blog
      tags:
      - Blogs
      x-content-type: application/json
      x-accepts:
      - application/json
  /experts:
    get:
      operationId: listExperts
      parameters:
      - description: 1-based page number.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Items per page (max 100).
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Free-text search filter.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: List experts
      tags:
      - Experts
      x-accepts:
      - application/json
    post:
      operationId: createExpert
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpertInput'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Request payload failed validation.
      summary: Create an expert
      tags:
      - Experts
      x-content-type: application/json
      x-accepts:
      - application/json
  /experts/{id}:
    delete:
      operationId: deleteExpert
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Deleted
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Delete an expert
      tags:
      - Experts
      x-accepts:
      - application/json
    get:
      operationId: getExpert
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Get an expert by id
      tags:
      - Experts
      x-accepts:
      - application/json
    put:
      operationId: updateExpert
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpertInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Update an expert
      tags:
      - Experts
      x-content-type: application/json
      x-accepts:
      - application/json
  /experts/{expertId}/availability:
    get:
      operationId: getExpertAvailability
      parameters:
      - explode: false
        in: path
        name: expertId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Get an expert's availability
      tags:
      - Experts
      x-accepts:
      - application/json
    put:
      operationId: setExpertAvailability
      parameters:
      - explode: false
        in: path
        name: expertId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: Replace an expert's availability
      tags:
      - Experts
      x-content-type: application/json
      x-accepts:
      - application/json
  /experts/availability:
    post:
      operationId: createAvailability
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Request payload failed validation.
      summary: Create an availability entry
      tags:
      - Experts
      x-content-type: application/json
      x-accepts:
      - application/json
  /experts/availability/{id}:
    delete:
      operationId: deleteAvailability
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Deleted
      summary: Delete an availability entry
      tags:
      - Experts
      x-accepts:
      - application/json
    get:
      operationId: getAvailability
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Get an availability entry
      tags:
      - Experts
      x-accepts:
      - application/json
    put:
      operationId: updateAvailability
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: Update an availability entry
      tags:
      - Experts
      x-content-type: application/json
      x-accepts:
      - application/json
  /experts/sessions:
    get:
      operationId: listSessions
      parameters:
      - description: 1-based page number.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Items per page (max 100).
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: List sessions
      tags:
      - Experts
      x-accepts:
      - application/json
    post:
      operationId: createSession
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Request payload failed validation.
      summary: Create a session
      tags:
      - Experts
      x-content-type: application/json
      x-accepts:
      - application/json
  /experts/sessions/{id}:
    delete:
      operationId: deleteSession
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Deleted
      summary: Delete a session
      tags:
      - Experts
      x-accepts:
      - application/json
    get:
      operationId: getSession
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Get a session
      tags:
      - Experts
      x-accepts:
      - application/json
    put:
      operationId: updateSession
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: Update a session
      tags:
      - Experts
      x-content-type: application/json
      x-accepts:
      - application/json
  /experts/sessions/{id}/status:
    patch:
      operationId: updateSessionStatus
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateSessionStatus_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: Update a session's status
      tags:
      - Experts
      x-content-type: application/json
      x-accepts:
      - application/json
  /experts/{expertId}/sessions:
    get:
      operationId: listExpertSessions
      parameters:
      - explode: false
        in: path
        name: expertId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: List sessions for an expert
      tags:
      - Experts
      x-accepts:
      - application/json
  /agents:
    get:
      operationId: listAgents
      parameters:
      - description: 1-based page number.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Items per page (max 100).
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: List agents
      tags:
      - Agents
      x-accepts:
      - application/json
  /agents/{id}:
    get:
      operationId: getAgent
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Get an agent by id
      tags:
      - Agents
      x-accepts:
      - application/json
  /agents/{id}/chats:
    get:
      operationId: listAgentChats
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: List chats for an agent
      tags:
      - Agents
      x-accepts:
      - application/json
    post:
      operationId: createAgentChat
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAgentChat_request'
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Start a new chat with an agent
      tags:
      - Agents
      x-content-type: application/json
      x-accepts:
      - application/json
  /agents/{id}/chats/{chatId}/messages:
    get:
      operationId: listChatMessages
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: chatId
        required: true
        schema:
          type: string
        style: simple
      - description: 1-based page number.
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          minimum: 1
          type: integer
        style: form
      - description: Items per page (max 100).
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
      summary: Get messages in a chat
      tags:
      - Agents
      x-accepts:
      - application/json
    post:
      description: |
        Sends a user message to the agent and returns the agent's full reply in a single JSON response. Streaming is not exposed on the public API.
      operationId: sendChatMessage
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: chatId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMessageInput'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
          description: Successful response.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Request payload failed validation.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Resource not found.
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Rate limit exceeded.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/RateLimitLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/RateLimitReset'
      summary: Send a message to the agent and get its reply (non-streaming)
      tags:
      - Agents
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  headers:
    RateLimitLimit:
      description: Request quota for the current window.
      explode: false
      schema:
        type: integer
      style: simple
    RateLimitRemaining:
      description: Requests remaining in the current window.
      explode: false
      schema:
        type: integer
      style: simple
    RateLimitReset:
      description: Unix epoch seconds when the window resets.
      explode: false
      schema:
        type: integer
      style: simple
  parameters:
    Page:
      description: 1-based page number.
      explode: true
      in: query
      name: page
      required: false
      schema:
        default: 1
        minimum: 1
        type: integer
      style: form
    Limit:
      description: Items per page (max 100).
      explode: true
      in: query
      name: limit
      required: false
      schema:
        default: 20
        maximum: 100
        minimum: 1
        type: integer
      style: form
    Search:
      description: Free-text search filter.
      explode: true
      in: query
      name: search
      required: false
      schema:
        type: string
      style: form
    IdPath:
      explode: false
      in: path
      name: id
      required: true
      schema:
        type: string
      style: simple
    VersionIdPath:
      explode: false
      in: path
      name: versionId
      required: true
      schema:
        type: string
      style: simple
    TagIdPath:
      explode: false
      in: path
      name: tagId
      required: true
      schema:
        type: string
      style: simple
    ExpertIdPath:
      explode: false
      in: path
      name: expertId
      required: true
      schema:
        type: string
      style: simple
    ChatIdPath:
      explode: false
      in: path
      name: chatId
      required: true
      schema:
        type: string
      style: simple
  responses:
    Ok:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SuccessEnvelope'
      description: Successful response.
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
    ProgramSingle:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SuccessEnvelope'
      description: A single program.
    ProgramList:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/listPrograms_200_response'
      description: A page of programs.
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Missing or invalid API key.
    Forbidden:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: API key is valid but not authorised for this resource (scope).
    NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Resource not found.
    ValidationError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Request payload failed validation.
    RateLimited:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Rate limit exceeded.
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
  schemas:
    SuccessEnvelope:
      example:
        data: ""
        success: true
        message: message
      properties:
        success:
          example: true
          type: boolean
        message:
          type: string
        data: {}
      required:
      - success
      type: object
    Pagination:
      example:
        total: 1
        limit: 6
        totalPages: 5
        page: 0
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
      type: object
    Error:
      example:
        success: false
        message: message
        timestamp: 2000-01-23T04:56:07.000+00:00
      properties:
        success:
          example: false
          type: boolean
        message:
          type: string
        timestamp:
          format: date-time
          type: string
      required:
      - message
      - success
      type: object
    ProgramInput:
      additionalProperties: true
      description: Program payload. Fields to be finalised against program-service
        in Phase 4.
      type: object
    TestInput:
      additionalProperties: true
      type: object
    VisualTestInput:
      additionalProperties: true
      type: object
    BlogInput:
      additionalProperties: true
      type: object
    ExpertInput:
      additionalProperties: true
      type: object
    ChatMessageInput:
      additionalProperties: true
      example:
        message: message
      properties:
        message:
          description: The user message to send to the agent.
          type: string
      required:
      - message
      type: object
    listPrograms_200_response:
      allOf:
      - $ref: '#/components/schemas/SuccessEnvelope'
      - properties:
          pagination:
            $ref: '#/components/schemas/Pagination'
        type: object
      example:
        pagination:
          total: 1
          limit: 6
          totalPages: 5
          page: 0
        data: ""
        success: true
        message: message
    createProgramTag_request:
      properties:
        name:
          type: string
      required:
      - name
      type: object
    updateProgramTag_request:
      properties:
        name:
          type: string
      type: object
    setProgramTags_request:
      properties:
        tagIds:
          items:
            type: string
          type: array
      type: object
    updateSessionStatus_request:
      properties:
        status:
          type: string
      required:
      - status
      type: object
    createAgentChat_request:
      properties:
        title:
          type: string
      type: object
  securitySchemes:
    ApiKeyAuth:
      description: Team-scoped API key (format `pk_live_...`). Manage keys in the
        elev8er panel (Team › API Keys).
      in: header
      name: X-API-Key
      type: apiKey

